/**
 * Main CSS File
 *
 * Tailwind CSS v4 - Using new @import syntax
 * Docs: https://tailwindcss.com/docs/installation/using-vite
 */

@import "tailwindcss";

/* Tell Tailwind where to scan for classes */
@source "./**/*.{js,jsx,ts,tsx}";
@source "../index.html";
@source "assets/**/*.{svg,png,jpg,jpeg}";

@theme{
  --color-primary-100: #FFE0D8
  --color-primary-200: #FF623E
  --color-primary-300: #CC4E32
  --color-primary-400: #80311F
  --color-neutral-25: #FDFDFD
  --color-neutral-50: #FAFAFA
  --color-neutral-100: #F5F5F5
  --color-neutral-200: #E9EAEB
  --color-neutral-300: #D5D7DA
  --color-neutral-400: #A4A7AE
  --color-neutral-500: #717680
  --color-neutral-600: #535862
  --color-neutral-700: #414651
  --color-neutral-800: #252B37
  --color-neutral-900: #181D27
  --color-neutral-950: ##0A0D12
  --color-white: #FFFFFF
  --color-black: #000000
  --font-sans: Poppins, sans-serif, system-ui;
}
/**
 * Custom Global Styles
 *
 * Add your custom global styles here if needed
 * Prefer using Tailwind utilities in components
 */

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(----color-white);
  line-height: 1.6;
  color: var(--color-neutral-25);
}
  ::-webkit-scrollbar {
  width: 10px;
  }
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional: Custom scrollbar styles */
/* Uncomment if you want custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*/
